<app-side-bar>
    <h2 class="name-compo">Dashboard</h2>
    <div class="row ml-1 mx-auto mb-5">
        <div class="col-md-3">
            <mat-card class="d-flex align-items-center card-h card-1">
                <div class="box-card1">
                    <img src="assets/images/procress.png" alt="">
                </div>
                <div class="d-flex flex-column text-box">
                    <div class="h5 ml-5">อุปกรณ์</div>
                    <div class=" dt ml-5 "><span>{{Product}}</span> ชนิด</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="d-flex align-items-center card-h card-2">
                <div class="box-card4">
                    <img src="assets/images/users.png" alt="">
                </div>
                <div class="d-flex flex-column text-box">
                    <div class="h5 ml-5">ผู้ใช้งาน</div>
                    <div class=" dt ml-5 "><span>{{Users}}</span> คน</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="d-flex align-items-center card-h card-3">
                <div class="box-card3">
                    <img src="assets/images/out.png" alt="">
                </div>
                <div class="d-flex flex-column text-box">
                    <div class="h5 ml-5">ยืม</div>
                    <div class=" dt ml-5 "><span>100</span> ครั้ง</div>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card class="d-flex align-items-center card-h card-4">
                <div class="box-card2">
                    <img src="assets/images/in.png" alt="">
                </div>
                <div class="d-flex flex-column text-box">
                    <div class="h5 ml-5">คืน</div>
                    <div class=" dt ml-5 "><span>98</span> ครั้ง</div>
                </div>
            </mat-card>
        </div>
    </div>
</app-side-bar>