mat-sidenav {
    width: 250px;
    background-color: #fff;
    /* color: white; */
    border-radius: 1px 5px 5px 1px;
    box-shadow: 3px 1px 20px 3px #cd2631a6;
    /* margin-top: 10px; */
    border-right-style: none;
    position: fixed;
}

mat-sidenav-container {
    background-color: white;
}

.img {
    /* background-color: white;
  border-radius: 115px 115px 115px 115px;
  margin-bottom: 20px; */
    width: 2.5rem;
    height: 2.5rem;
}

.b {
    height: 100vh;
    background-color: rgba(238, 238, 238, 0.37);
    /* background-color: #eee; */
    z-index: -1;
    margin-top: 2px;
}

.text-box {
    margin-top: 2px;
    margin: 0 auto;
    color: #3c4858;
}

hr {
    margin-top: 0;
    width: 180px;
}
