mat-sidenav {
    width: 220px;
    background-color: #cd2631f6;
    color: white;
    border-right: 1px #cd2632 solid;
    border-radius: 1px 50px 50px 1px;
    box-shadow: 10px 10px 20px #cd2631a6;
}

#namepd {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}