mat-sidenav {
    width: 220px;
    background-color: #d12a32;
    /* color: white; */
    border-radius: 115px 115px 1px 1px;
    box-shadow: 3px -1px 10px 3px #cd2631a6;
    margin-top: 10px;
    border-right-style: none;
    position: fixed;
}

.img {
    background-color: white;
    border-radius: 115px 115px 115px 115px;
    margin-bottom: 20px;
}


/* img {
    width: 200px;
    height: 210px;
} */
