<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav [mode]="moBileQueryMax.matches ? 'over':'side'" [opened]="moBileQueryMax.matches ? false:true">
        <div class="text-center  img">

            <img src="assets/images/logo_cce.png" alt="" class="img-fluid rounded-circle">
        </div>
        <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-bar [mobileQuery]="moBileQueryMax.matches ? false:true" (sidenavToggle)="sidenav.toggle()"></app-nav-bar>
        <div class="p-4">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
