<app-side-bar>
    <h2 class="name-compo">Create-Product</h2>
    <mat-card class="mb-5">
        <div class="header">
            <mat-card-title>เพื่มอุปกรณ์</mat-card-title>
            <mat-card-subtitle style="color: whitesmoke;">create-product</mat-card-subtitle>
        </div>
        <hr>
        <mat-card-content class="mt-4">
            <form #formProduct="ngForm" (submit)="onSubmit(formProduct)">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center">
                        <div class="text-center">
                            <div class="" *ngIf="imagePreview">
                                <img [src]="imagePreview" alt="" class="img-fluid  border">
                                <div class=" ">
                                    <div class="mt-3 mb-3">
                                        <button id="b-d" type="button" mat-stroked-button (click)="onDeleteImage()">
                        <mat-icon>close</mat-icon>
                        <span>delete</span>
                      </button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button type="button" mat-stroked-button (click)="image.click()">
                  <mat-icon>photo</mat-icon>
                  <span>select image</span>
                </button>
                                <input (change)="onPreviewImage($event)" #image type="file" id="" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <mat-form-field class="w-100" appearance="outline">
                                <input ngModel matInput required type="text" name="p_Id">
                                <mat-label>รหัส</mat-label>
                            </mat-form-field>
                        </div>
                        <div class="">
                            <mat-form-field class="w-100" appearance="outline">
                                <input ngModel name="name_p" matInput required>
                                <mat-label for="">ชื่ออุปกรณ์</mat-label>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input ngModel name="category" matInput required>
                                    <mat-label style="font-size: 12px;">ประเภท</mat-label>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <input type="number" ngModel name="stock" matInput required>
                                    <mat-label>จำนวน</mat-label>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 m-4">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>รายละเอียด</mat-label>
                            <textarea ngModel matInput name="detail" id="detail" cols="30" rows="10">

                          </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-actions class="text-right mt-4">
                    <button mat-button>เพิ่มอุปกรณ์</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</app-side-bar>