<div class="p-3 h-100">
    <h1 mat-dialog-title class="text-info">
        ข้อมูลอุปกรณ์
    </h1>
    <div mat-dialog-content class="h-100 mt-5">
        <div class="text-center">
            <img [src]="image" alt="" class="img-fluid" width="250px" height="250px">
        </div>
        <h2 class="text-center mt-5 mb-3">{{name_p}}</h2>

        <div class="row mx-auto">
            <div class="col-md-8">
                <p>{{detail}}</p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button type="button" class="btn-search text-white" mat-button>
        <mat-icon>search</mat-icon>
        <span>รายละเอียดเพิ่มเติม</span>
      </button>
    </div>
</div>