<mat-nav-list dense>
    <a mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Dashboard]" routerLinkActive="a">
        <span matLine>แดชบอร์ด</span>
        <mat-icon mat-list-icon>dashboard</mat-icon>
    </a>
    <a mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Users]" routerLinkActive="a">
        <span matLine>ผู้ใช้งาน</span>
        <mat-icon mat-list-icon>group</mat-icon>
    </a>
    <a mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.createUser]" routerLinkActive="a">
        <span matLine>เพิ่มผู้ใช้งาน</span>
        <mat-icon mat-list-icon>group_add</mat-icon>
    </a>
</mat-nav-list>
