.a {
    background-color: white;
    color: #cd2632 !important;
    border-radius: 30px 1px 1px 30px;
}

:hover .a {
    background-color: white;
    color: #cd2632 !important;
    border-radius: 30px 1px 1px 30px;
}

.mat-list-item {
    color: rgba(255, 251, 251, 0.87);
}