<mat-nav-list>
    <a mat-list-item routerLink="" routerLinkActive="" class="am">
        <mat-icon mat-list-icon></mat-icon>
    </a>
    <a *ngIf="user != role.student" mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Dashboard]" routerLinkActive="a">
        <span matLine>แดชบอร์ด</span>
        <mat-icon mat-list-icon>dashboard</mat-icon>
    </a>
    <a *ngIf="user != role.student" mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Users]" routerLinkActive="a">
        <span matLine>ผู้ใช้งาน</span>
        <mat-icon mat-list-icon>group</mat-icon>
    </a>
    <a mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Product]" routerLinkActive="a">
        <span matLine>อุปกรณ์</span>
        <mat-icon mat-list-icon>category</mat-icon>
    </a>
    <a *ngIf="user != role.student" mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.ProductList]" routerLinkActive="a">
        <span matLine>รายการอุปกรณ์</span>
        <mat-icon mat-list-icon>storage</mat-icon>
    </a>
    <a mat-list-item [routerLink]="['/',AppURL.Authen,AuthenURL.Borrow]" routerLinkActive="a">
        <span matLine>ยืม / คืน</span>
        <mat-icon mat-list-icon>repeat</mat-icon>
    </a>
</mat-nav-list>