<div class="row d-flex justify-content-between p-3">
    <h2>{{fname}} {{lname}}</h2>
    <h2 class="text-secondary">{{studentId}}</h2>
</div>
<h3 class="text-center">รายการอุปกรณ์</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">รูปอุปกรณ์</th>
                <th scope="col">ชื่ออุปกรณ์</th>
                <th scope="col">จำนวน</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items let i = index">
                <th class="t" scope="row">{{i +1}}</th>
                <td>
                    <div class=" image over-lay d-block ">
                        <img [src]="item.p_id.image" class="w-100 bg-light" alt="">
                    </div>
                </td>
                <td class="text-truncate t">{{item.p_id.name_p}}</td>
                <td class="t">
                    {{item.qty}}
                </td>
            </tr>
            <tr>
                <th scope="row" style="font-size: large;">รวม</th>
                <td colspan="2"></td>
                <td class="pt-3">{{total}} ชิ้น</td>
            </tr>

        </tbody>
    </table>
</div>